# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Production
build/
dist/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Prisma
# Les migrations DOIVENT être versionnées pour assurer la cohérence BDD/schéma

# TypeScript
*.tsbuildinfo

# Misc
.turbo/
.vercel
.pnpm-store/
.git_backup/
_a_supprimer/
